@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hello World!!!</h1>
        <h2 class="display-4">Where is the Login?</h2>
        <p>This is the first change in the home page</p>
        <p>Testing Testing</p>
    </div>
